@model SeyahatBlogu.Models.Siniflar.BlogYorum

@{
    ViewBag.Title = "BlogDetay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <title>Personal Blog a Blogging Category Flat Bootstarp  Responsive Website Template | Single :: w3layouts</title>
    <link href="/web2/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="/web2/css/style.css" rel='stylesheet' type='text/css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Personal Blog Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!----webfonts---->
    <link href='http://fonts.googleapis.com/css?family=Oswald:100,400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,300italic' rel='stylesheet' type='text/css'>
    <!----//webfonts---->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <!--end slider -->
    <!--script-->
    <script type="text/javascript" src="/web2/js/move-top.js"></script>
    <script type="text/javascript" src="/web2/js/easing.js"></script>
    <!--/script-->
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 900);
            });
        });
    </script>
    <!---->

</head>

<div class="single">
    <div class="container">
        <div class="col-md-8 single-main">
            <div class="single-grid">
                @foreach (var item in Model.Deger1)
                {
                    <span style="background-color:teal; color:azure; padding:3px 6px; border-radius:5px; font-size:small;">@item.Tarih.ToShortDateString()</span>
                    <h2 style="padding-top:15px;">@item.Baslik</h2>
                    <img src="@item.BlogImage" style="width:100%; height:300px; object-fit:cover;" />
                    <p>
                        @item.Aciklama;
                    </p>
                }
            </div>

            @foreach (var item in Model.Deger2)
            {
                <ul class="comment-list">                    
                    <li>
                        <img src="/web2/images/avatar.png" class="img-responsive" alt="" style="float:left;">
                        <div class="desc">
                            <p><a href="#" class="post-author_head text-decoration-none" title="Posts by admin" rel="author">@item.KullaniciAdi:</a> @item.Yorum</p>
                        </div>
                        <div class="clearfix"></div>
                    </li>
                </ul>
            }

            <div class="content-form">
                <h3>Yorumunuzu Bırakın</h3>
                <form>
                    <input type="text" placeholder="Kullanıcı Adı" required />
                    <input type="text" placeholder="Email" required />
                    <textarea placeholder="Mesaj"></textarea>
                    <input type="submit" value="Gönder" />
                </form>
            </div>
        </div>

        <div class="col-md-4 side-content">
            <div class="recent">
                <h3>RECENT POSTS</h3>
                <ul>
                    <li><a href="#">Aliquam tincidunt mauris</a></li>
                    <li><a href="#">Vestibulum auctor dapibus  lipsum</a></li>
                    <li><a href="#">Nunc dignissim risus consecu</a></li>
                    <li><a href="#">Cras ornare tristiqu</a></li>
                </ul>
            </div>
            <div class="comments">
                <h3>RECENT COMMENTS</h3>
                <ul>
                    <li><a href="#">Amada Doe </a> on <a href="#">Hello World!</a></li>
                    <li><a href="#">Peter Doe </a> on <a href="#"> Photography</a></li>
                    <li><a href="#">Steve Roberts  </a> on <a href="#">HTML5/CSS3</a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
            <div class="archives">
                <h3>ARCHIVES</h3>
                <ul>
                    <li><a href="#">October 2013</a></li>
                    <li><a href="#">September 2013</a></li>
                    <li><a href="#">August 2013</a></li>
                    <li><a href="#">July 2013</a></li>
                </ul>
            </div>
            <div class="categories">
                <h3>CATEGORIES</h3>
                <ul>
                    <li><a href="#">Vivamus vestibulum nulla</a></li>
                    <li><a href="#">Integer vitae libero ac risus e</a></li>
                    <li><a href="#">Vestibulum commo</a></li>
                    <li><a href="#">Cras iaculis ultricies</a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
@*</div>*@
<!---->
